<div class="back_change">
  <div class="container " style="text-align:center">
  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:50px">Countries views </div>
    <a class="btn btn-warning" (click)="goBackToPreviousPage()"><b>Go Back</b></a>
    <br>
  </div>
  <div class="row"  style="text-align:center">
    <div  class="col-md-4" style="text-align:center" *ngFor='let countries of countriesData'>
      <div class="card " style="width: 18rem;" >
        <div class="img_size">
          <img src="{{countries.flag}}" class="card-img-top ">
        </div>
        <div class="card-body " >
        <p><b>SUBREGION :</b>{{countries.subregion}}</p>
        <p><b>CAPITAL:</b>{{countries.capital}}</p>
        <p><b>TIMEZONE:</b>{{countries.timezones}}</p>
   </div>
          <button class="btn btn-primary" [routerLink]="['/country',countries.name]">{{countries.name | uppercase}} </button>
      </div>
    </div>
  
  </div>

</div>
</div>
